<section class="jumbotron staff" tabindex="2">
    <div>
        <i ng-repeat="i in staff.border track by $index" class="glyphicon"
           ng-model="i" ng-class="i"></i>
    </div>
    <div>
        <i ng-repeat="i in staff.high track by $index" class="glyphicon"
           ng-model="i" ng-class="i"></i>
    </div>
    <div>
        <i ng-repeat="i in staff.mid track by $index" class="glyphicon"
           ng-model="i" ng-class="i"></i>
    </div>
    <div>
        <i ng-repeat="i in staff.low track by $index" class="glyphicon"
           ng-model="i" ng-class="i"></i>
    </div>
    <div>
        <i ng-repeat="i in staff.border track by $index" class="glyphicon"
           ng-model="i" ng-class="i"></i>
    </div>
</section>