<div class="jumbotron main-view" tabindex="1" ng-keydown="level.input($event)">
    <nav class="navbar">
        <a class="btn--nav" ng-repeat="i in level.getLevels()" ng-href="/#/level/{{ i }}">Level {{ i }}</a>
    </nav>
    <div class="row">
        <div class="col-xs-12">
            <i ng-click="level.showComputer()" class="glyphicon controls" ng-class="{repeat: level.feedback.computerIsPlaying, play: !level.feedback.computerIsPlaying}"></i>
            <label for="MetControl" class="met">Met:</label>
            <i name="MetControl" ng-click="level.toggleMet()" class="fa controls met" ng-class="{'met-on': level.isMetOn, 'met-off': !level.isMetOn}"></i>
            <label for="TempoControl" class="tempo">Tempo:</label>
            <input class="tempo" name="TempoControl" type="range" min="{{ level.met.min }}" max="{{ level.met.max }}" ng-model="level.met.tempo" />
        </div>
    </div>
    <staff ng-model="level.computerStaff" ng-class="{hit: level.feedback.met}"></staff>
    <staff ng-model="level.playerStaff" ng-hide="level.evaluation.show" ng-class="{hit: level.feedback.met}"></staff>
    <evaluator ng-model="level.evaluation"></evaluator>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="left-button jumbotron" tabindex="3" ng-click="level.input('left')" ng-class="{hit: level.feedback.leftButton, hit: level.feedback.met}"></button>
            <button type="button" class="right-button jumbotron" tabindex="4" ng-click="level.input('right')" ng-class="{hit: level.feedback.rightButton}"></button>
        </div>
    </div>
    <div class="jumbotron countOff text-center" ng-show="level.countOff.show">
        <span class="h1">{{level.countOff.n}}</span>
    </div>
</div>