<div class="jumbotron main-view" tabindex="1" ng-keydown="play.keyPress($event)">

    <div class="jumbotron staff" tabindex="2">

        <!--<div ng-bind-html="trustedOff"></div>-->
        <!--<div>{{ play.staff.high }}</div>-->
        <!--<div>{{ play.staff.mid }}</div>-->
        <!--<div>{{ play.staff.low }}</div>-->
        <div>
            <i ng-repeat="i in staffService.staff.border track by $index" class="glyphicon glyphicon-asterisk"
               ng-model="i" ng-class="i"></i>
        </div>
        <div>
            <i ng-repeat="i in staffService.staff.high track by $index" class="glyphicon glyphicon-asterisk"
               ng-model="i" ng-class="i"></i>
        </div>
        <div>
            <i ng-repeat="i in staffService.staff.mid track by $index" class="glyphicon glyphicon-asterisk"
               ng-model="i" ng-class="i"></i>
        </div>
        <div>
            <i ng-repeat="i in staffService.staff.low track by $index" class="glyphicon glyphicon-asterisk"
               ng-model="i" ng-class="i"></i>
        </div>
        <div>
            <i ng-repeat="i in staffService.staff.border track by $index" class="glyphicon glyphicon-asterisk"
               ng-model="i" ng-class="i"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 hidden-md hidden-lg">
            <button type="button" class="left-button jumbotron" tabindex="3" ng-click="play.left.tap()"></button>
            <button type="button" class="right-button jumbotron" tabindex="4" ng-click="play.right.tap()"></button>
        </div>
    </div>
</div>