<div class="jumbotron" tabindex="1" ng-keydown="play.keyPress($event)">
    <div class="row">
        <div class="col-xs-1">
            <button ng-click="play.play('metdownbeat')">Boom</button>
        </div>
        <div class="col-xs-1">
            <button ng-click="play.play('metupbeat')">Bah</button>
        </div>
        <div class="col-xs-1">
            <button ng-click="play.play('csharp')">Click</button>
        </div>
    </div>

    <div>{{ play.staff.border }}</div>
    <div>{{ play.staff.high }}</div>
    <div>{{ play.staff.mid }}</div>
    <div>{{ play.staff.low }}</div>
    <div>{{ play.staff.border }}</div>
</div>